<nav class="fixed w-full bg-black top-0 text-white p-3">
  <div class="flex justify-between items-center relative max-w-7xl mx-auto">
    <!-- Left side - Menu burger (mobile) + Navigation (desktop) -->
    <div class="flex items-center gap-2 sm:gap-4">
      <!-- Menu burger - visible sur mobile seulement -->
      <div class="block ">
        <app-menu-burger></app-menu-burger>
      </div>

      <!-- Navigation desktop - cachée sur mobile -->
      <nav class="hidden sm:flex gap-4 lg:gap-6 text-sm lg:text-base font-bold">
        <div
          class="cursor-pointer px-2 py-1 hover:!text-gray-500 transition-colors duration-200 rounded"
          [routerLink]="['/calendrier']"
          routerLinkActive="text-lime-950 ">
          Calendrier
        </div>
        <div
          class="cursor-pointer hover:!text-gray-500 transition-colors duration-200 px-2 py-1 rounded"
          [routerLink]="['/classement']"
          routerLinkActive="text-lime-950">
          Classement
        </div>
      </nav>
    </div>

    <!-- Center - Logo et nom du club -->
    <div
      class="flex items-center justify-center cursor-pointer"
      [routerLink]="['/']">
      <img
        src="/images/cosf_logo.jpeg"
        class="w-10 h-10 sm:w-14 sm:h-14 rounded-full" />
      <h1 class="text-base sm:text-xl font-bold ml-2 hover:text-gray-500">
        COSF
      </h1>
    </div>

    <!-- Right side - Instagram + Boutique + Menu burger (desktop) -->
    <div class="flex items-center gap-2 sm:gap-4">
      <a
        href="https://www.facebook.com/sainfonniard/"
        target="_blank"
        class="cursor-pointer">
        <img
          src="/images/facebook.png"
          class="w-7 h-7 sm:w-9 sm:h-9 rounded-full" />
      </a>
      <!-- Instagram -->
      <a
        href="https://www.instagram.com/cosf_basket/"
        target="_blank"
        class="cursor-pointer">
        <img
          src="/images/instagram.jpeg"
          class="w-7 h-7 sm:w-9 sm:h-9 rounded-full" />
      </a>

      <!-- Menu burger - visible sur desktop seulement -->
      <div class="hidden sm:block">
      </div>
    </div>
  </div>
</nav>
