<div class="w-full items-center justify-center flex flex-col gap-4 p-4">
  <h1 class="text-2xl sm:text-3xl font-bold font-serif p-4 text-center">
   {{constante.TITLE.PLAN_ACCES}}
  </h1>
</div>

<!-- Section principale responsive -->
<div
  class="flex flex-col lg:flex-row gap-6 sm:gap-8 px-4 sm:px-6 lg:px-8 sm:mt-12 lg:mt-20">
  <!-- Informations d'accès -->
  <div class="flex flex-col gap-4 sm:gap-6 lg:gap-7 w-full lg:w-1/3 p-2 sm:p-4">
    <div class="font-bold uppercase text-xl sm:text-2xl">Les Accès</div>

    <!-- Adresse -->
    <div class="flex flex-row gap-3 sm:gap-5 text-lg sm:text-2xl items-center">
      <div>
        <button>
          <mat-icon>{{constante.ACCESS.location}}</mat-icon>
        </button>
      </div>
      <div class="font-serif">{{constante.ACCESS.address}}</div>
    </div>

    <!-- Téléphone -->
    <div class="flex flex-row gap-3 sm:gap-5">
      <div>
        <button>
          <mat-icon>{{constante.BUTTONS.call}}</mat-icon>
        </button>
      </div>
      <div class="font-serif text-lg sm:text-2xl">{{constante.ACCESS.phone}}</div>
    </div>

    <!-- Transport -->
    <div class="font-bold uppercase text-xl sm:text-2xl mt-4">{{constante.ACCESS.transport}}</div>
    <span class="uppercase text-base font-serif sm:text-lg"
      >{{constante.ACCESS.stop}}</span
    >

    <!-- Bus -->
    <div class="flex flex-row gap-3 sm:gap-5 text-lg sm:text-2xl items-center">
      <div>
        <button>
          <mat-icon>{{constante.BUTTONS.directions_bus}}</mat-icon>
        </button>
      </div>
      <div class="font-serif flex flex-row gap-2">
        <img
          src="/images/bus_93.png"
          class="w-16 h-8 sm:w-20 sm:h-15"
          alt="bus 93" />
        <img
          src="/images/bus_60.png"
          class="w-16 h-8 sm:w-20 sm:h-15"
          alt="bus 60" />
      </div>
    </div>

    <!-- Tram -->
    <div class="flex flex-row gap-3 sm:gap-5 text-lg sm:text-2xl items-center">
      <div>
        <button>
          <mat-icon>{{constante.BUTTONS.tram}}</mat-icon>
        </button>
      </div>
      <div class="font-serif flex flex-row gap-2">
        <img
          src="/images/tram_t4.png"
          class="w-16 h-8 sm:w-20 sm:h-15"
          alt="tram t4" />
      </div>
    </div>
  </div>

  <!-- Image de la carte -->
  <div class="flex justify-center items-center w-full lg:w-2/3">
    <img
      src="/images/cosf_map.png"
      alt="map"
      class="w-full h-auto max-w-full lg:max-w-[800px] max-h-[400px] sm:max-h-[500px] rounded-lg shadow-lg" />
  </div>
</div>

<!-- Google Map - Prend maintenant toute la largeur -->
<div class="h-[500px] sm:h-[500px] ml-2 mr-2 mt-12 sm:mt-20 mb-8  sm:mb-11 sm:px-8 lg:px-16 relative">
  <google-map [center]="center" [zoom]="zoom" [width]="'100%'" [height]="'100%'" class="w-full h-full rounded-lg overflow-hidden">
    <map-marker
      [position]="markerPosition"
      [options]="markerOptions"></map-marker>
  </google-map>
  
  <!-- Bouton centré au-dessus de la carte -->
  <div class="absolute top-14 left-32 sm:left-1/2 transform -translate-x-1/2 z-10">
    <button (click)="openInGoogleMaps()" class="bg-gray-500 text-white py-1 px-4 rounded font-serif flex items-center gap-2 shadow-lg hover:bg-gray-800 transition-colors">
      <mat-icon class="text-white">{{constante.BUTTONS.open}}</mat-icon>
      <span>{{constante.MAP.open_in_maps}}</span>
    </button>
  </div>
</div>
